// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(turbotabook, turbotabook)  
=f
	font-family: "turbotabook", Arial, sans-serif 
+font(turbotabold, turbotabold)  
=fb
	font-family: "turbotabold", Arial, sans-serif 

$bl: #00BFFF
$cl: #01445a

@mixin rt($media)
	@media only screen and (max-width: $media+"px")
		@content
	
body
	background: url(../img/bg.jpg) no-repeat 50% 0 #dcccc0
	font-family: Arial, sans-serif 
	line-height: 1.4
	font-size: 14px
	color: #333 
a
	text-decoration: none
	color: $bl 

// *
// 	box-shadow: 0 0 0 1px red

// common blocks      
.wrapper
	width: 1250px
	margin: 0 auto
	padding: 0 30px
	background: rgba(255,255,255,.3)
	+rt(1340)
		padding: 0 5px
	+rt(1290)
		width: 1004px
		padding: 0
		background: none 
	+rt(1022)
		width: 748px
	+rt(766)
		width: 310px
		padding: 0 5px
.header
	padding: 15px 20px
	background: #FFF
	border-radius: 5px 
	+clr
	+rt(1290)
		padding: 10px 
	+rt(1022)
		padding: 5px 15px 15px
	+rt(766)
		padding: 5px
	.header__phone, .header__map
		float: right
		height: 70px
		margin-top: 25px
		border-left: #28D2E9 1px dashed 
		font-size: 0
	.header__phone
		padding-left: 40px
		+rt(1290)
			padding-left: 10px
		+rt(1022)
			margin-bottom: 20px
		+rt(766)
			float: none
			margin: 0 0 10px
	.header__map
		padding: 0 45px 0 40px 
		+rt(1290)
			padding: 0 0 0 10px
		+rt(1022)
			float: none
			height: auto
			margin-left: 200px
			clear: both
		+rt(766)
			margin: 0
	.header__map-ico, .header__phone-ico,
	.header__map-in, .header__phone-in
		display: inline-block
		vertical-align: middle
		font-size: 14px
	.header__map-ico
		+s(header-map)
		+rt(1022)
			+s(header-map-r)
	.header__phone-ico
		+s(header-phone)
		+rt(1022)
			+s(header-phone-r)
	.header__map-in
		padding:  5px 0 5px 40px
		+rt(1290)
			padding: 10px 10px 5px 10px 
			font-size: 12px
		+rt(1022)
			padding: 0 0 0 10px 
		span
			display: block
		a
			font-size: 12px
			color: #333 
	.header__phone-in
		padding-left: 40px
		text-align: right
		+rt(1290)
			padding-left: 10px 
	.header__phone-number
		background: -webkit-linear-gradient(#42c24f 0%, #1796ce 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		color: #42c24f 
		+f
		font-size: 24px
		line-height: 1
	.header__phone-text
		font-size: 12px

.logo
	float: left
	+s(logo)
	+rt(1022)
		+s(logo-r)
	+rt(766)
		float: none
		display: block

.btn
	display: inline-block
	height: 32px
	padding: 0 17px
	border: 1px solid #28a584
	border-radius: 16px
	background-color: #474747
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.1)
	+g(#42c24f 0%, #1796ce 100%)
	line-height: 30px
	color: #f9f9f9
	font-size: 14px
	text-shadow: 0 1px 0 rgba(0,0,0,.2)
	vertical-align: top
	+box

.stats
	padding: 7px 0 5px
	+fb
	text-align: justify
	font-size: 0
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0
		+rt(1022)
			display: none
	li
		display: inline-block
		font-size: 18px
		color: #13495F 
		+rt(1290)
			font-size: 16px
		+rt(1022)
			width: 50%
			text-align: center
		+rt(766)
			width: 100%
			text-align: left
			font-size: 14px
			line-height: 1.1
	span
		margin-right: 10px
		background: -webkit-linear-gradient(#42c24f 0%, #1796ce 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		+f
		color: #42c24f 
		font-size: 36px
		letter-spacing: -3px
		+rt(1290)
			font-size: 30px
		
.links
	margin: -9px 0 25px
	+rt(1022)
		margin: -9px 0 15px 0
	+rt(766)
		margin: 0 0 15px 
	.links__online
		+s(link-online)
		>i
			+s(link-online-ico)
	.links__hot
		+s(link-hot) 
		>i
			+s(link-hot-ico)
	.links__order
		+s(link-order) 
		>i
			+s(link-order-ico)
	.links__sms
		+s(link-sms) 
		>i
			+s(link-sms-ico)
	.links__mail
		+s(link-mail)
		>i
			+s(link-mail-ico)
	.links__item
		a
			position: relative
			display: inline-block
			+rt(1290)
				width: 153px
			+rt(766)	
				width: 191px
			>i
				position: absolute
				top: 0
				right: -97px
	.links__in
		display: table-cell
		height: 106px
		padding-left: 20px
		vertical-align: middle
		text-shadow: 0 1px 0 rgba(0,0,0,.2)
		font-size: 16px
		color: #FFF 
		+rt(1290)
			padding-left: 10px
			font-size: 14px
		span
			display: block
			+f
			font-size: 24px
			line-height: 1
			+rt(1290)
				font-size: 18px
	&.links_right
		text-align: right
		+rt(766)
			margin: 0 -10px 15px 0 
		.links__in
			text-align: left
		.links__sms
			+s(link-sms) 
			>i
				+s(link-sms-ico)
		.links__mail
			+s(link-mail)
			>i
				+s(link-mail-ico)
		.links__item
			a
				+rt(1290)
					width: 153px
				+rt(766)	
					width: 191px
				>i
					right: auto
					left: -97px
	&.links_left
		.links__sms
			+s(link-sms-left) 
			>i
				+s(link-sms-left-ico)
		.links__mail
			+s(link-mail-left)
			>i
				+s(link-mail-left-ico)
		.links__item
			a
				+rt(1290)
					width: 153px
				+rt(766)	
					width: 191px
		+rt(1022)
			margin: -9px 0 0
	&.links_right, &.links_left
		.links__in
			font-size: 14px
			span
				font-size: 17px
			+rt(1290)
				font-size: 12px
				span
					font-size: 15px
	
.themost
	padding-left: 10px
	margin-bottom: 40px
	+rt(766)
		padding: 0 10px
	.themost__item
		margin-bottom: 15px
	.themost__title
		padding: 0 4px 3px
		+fb
		font-size: 15px
		color: #01445A 
	.themost__in
		position: relative
		display: block
		&:hover
			span
				text-decoration: underline
		img
			display: block
			width: 100%
			border-radius: 5px
		span
			position: absolute
			right: 0
			bottom: 0
			height: 38px
			padding: 0 30px 0 5px
			+gh(#50c876, #1c9bcb)
			border-radius: 0 0 5px 0
			line-height: 38px	
			color: #f9f9f9 
			text-shadow: 0 1px 0 rgba(0,0,0,.2)
			&:before
				content: ""
				position: absolute
				top: 0
				left: -40px
				+s(themost-left)
			i
				position: absolute
				top: 14px
				right: 9px
				+s(themost-arr)

.social
	margin-bottom: 25px
	font-size: 0
	text-align: center
	li
		display: inline-block
		margin: 0 2px
		vertical-align: top
	a
		display: block
	.social__tw
		+s(tw)
	.social__fb
		+s(fb) 
	.social__gp
		+s(gp)
	.social__rss
		+s(rss)
		
.action
	margin-bottom: 15px
	border: 3px solid $bl
	border-radius: 15px
	overflow: hidden
	.action__img
		position: relative
		img
			display: block
			width: 100%
	.action__label
		position: absolute
		top: 150px
		right: 5px
		+s(action-label)
	.action__label-in
		padding: 35px 8px 0 0
		color: #FFF
		font-size: 12px
		text-align: center
		text-shadow: 0 1px 0 rgba(0,0,0,.2)
		line-height: 1.2
		text-transform: uppercase
		+rotate(-15)
		span
			display: block
			+f
			font-size: 24px
			text-transform: none
	.action__in
		padding: 5px 10px 10px
	.action__price-in
		position: relative
		display: inline-block
		padding: 0 4px
		+f
		font-size: 24px
		color: #01445A
		line-height: 1.2
		span
			font-size: 18px
		i
			position: absolute
			top: 45%
			left: 0
			right: 0
			height: 2px
			background: #01445A 
	.action__price-current
		display: inline-block
		padding-bottom: 3px
		+f
		font-size: 34px
		color: $bl
		letter-spacing: -2px
		line-height: 1
		span
			font-size: 18px 
	.action__people
		display: inline-block
	.action__more
		.btn, .action__more-link
			display: inline-block
			vertical-align: middle
		.btn
			margin-right: 15px
			+rt(1290)
				margin-bottom: 10px
	.action__more-link
		span, i
			display: inline-block
			vertical-align: middle
		i
			margin-left: 5px
			+s(action-arr)
	.action__timer
		padding: 15px 0 20px
		background: #eeeded 
		text-align: center
	.action__timer-title
		margin-bottom: 5px
	.action__timer-in 
		font-size: 0
		>li
			margin: 0 9px
		li
			display: inline-block
			vertical-align: top
			li
				width: 24px
				height: 40px
				margin: 0 1px
				border-radius: 5px
				background-color: #35a9cd
				+f
				font-size: 24px
				color: #FFF 
				line-height: 40px
			span
				font-size: 12px

.politic
	margin-bottom: 15px
	a
		position: relative
		padding-left: 22px
	i
		position: absolute
		top: -3px
		left: 2px
		+s(politic)

.phone
	height: 127px
	padding-right: 10px
	margin-bottom: 20px
	border-right: 6px solid $bl
	background: url(../img/phone.jpg) no-repeat 0 0 
	text-align: right
	.phone__title	
		padding: 15px 0 10px
		+fb
		font-size: 18px
		+rt(1290)
			font-size: 15px
	.phone__code
		background: -webkit-linear-gradient(#42c250, #37b470)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		+fb
		color: #42c250 
		font-size: 18px
		line-height: 1
	.phone__number
		background: -webkit-linear-gradient(#37b470, #1c9bcb)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		+fb
		color: #37b470 
		font-size: 36px
		line-height: 1
		+rt(1290)
			font-size: 30px
	.phone__time
		padding-top: 5px

.footer
	height: 140px
	border-radius: 5px 5px 0 0
	background: url(../img/footer-bg.jpg) no-repeat 0 0 
	.footer__in
		padding-top: 62px
		font-size: 0
		text-align: center
		+rt(1022)
			padding-top: 23px
		.btn, .field
			display: inline-block
			vertical-align: middle
		.btn
			margin-left: 10px
			+rt(1022)
				margin: 0
		.field
			width: 150px
			margin-right: 10px
			+rt(1022)
				width: 274px
				margin: 0 0 10px
			&:first-child
				+rt(1022)
					margin: 0 10px 10px 0
				+rt(766)
					margin: 0 0 10px
					

.field
	display: block
	font-size: 12px
	.field__el, .field__label
		display: block
	.field__el
		>input
			width: 100%
			height: 23px
			padding: 0 5px
			border: 1px solid #d5d5d5
			border-radius: 5px
			background-color: #fff
			box-shadow: inset 0 4px 5px #f0f0f0
			+box
			+placeholder-color(#404040)
			font-size: 12px
	.field__label
		padding: 0 5px
		color: #5F5F5F 
	.field__dp
		+s(dp)

.checkbox, .radio
	position: relative
	display: block
	+nosel
	input
		position: absolute
		top: 3px
		left: 3px
		opacity: 0
		z-index: 2  
		&:checked + .checkbox__text
			&:before
				+s(checkbox-a)
	.checkbox__text, .radio__text
		display: block
		position: relative
		padding: 1px 0 0 21px
		font-size: 12px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+s(checkbox)

.radio
	input
		&:checked + .radio__text
			&:before
				+s(radio-a)
	.radio__text
		&:before
			+s(radio)
			
.select			
	position: relative
	.select__head
		position: relative
		height: 23px
		padding: 0 5px
		border: 1px solid #d5d5d5
		border-radius: 5px
		background-color: #fff
		box-shadow: inset 0 4px 5px #f0f0f0
		+box
	.select__value
		margin-right: 15px
		height: 21px
		overflow: hidden
		line-height: 23px
		font-size: 12px
		white-space: nowrap
	.select__arr
		position: absolute
		top: 5px
		right: 0
		width: 18px
		height: 13px
		border-left: 1px solid #ddd 
		i
			position: absolute
			top: 5px
			left: 6px
			+arr(7,4,#474747,b)
	.select__el
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: none
		-webkit-appearance: none
		+opacity(0)

.dropdown
	.dropdown__head, .dropdown__foot
		position: relative
		border: 1px solid #d5d5d5
		border-radius: 5px
		background-color: #fff
		box-shadow: inset 0 4px 5px #f0f0f0
		+box
	.dropdown__head
		height: 23px
		.checkbox
			padding: 2px 5px 2px 2px
	.dropdown__foot	
		height: 205px
		padding-right: 4px
		border-bottom: #38B6A4 3px solid 
		padding-top: 1px
		overflow: auto
		-webkit-overflow-scrolling: touch
		&::-webkit-scrollbar
			width: 8px
		&::-webkit-scrollbar-thumb
			border: 1px solid #28a584
			border-radius: 4px
			background-color: #d7dbdd
			box-shadow: inset 0 1px 0 rgba(255,255,255,.3)
			+background-image(linear-gradient(left, #59cf67 25%, #1999cd 84.81%, #016087 90.14%, #016087 125%))
		&::-webkit-scrollbar-track-piece
			background: #d8dcdd
			border-radius: 4px
			box-shadow: 0 0 0 2px #fff inset
		.checkbox__text
			padding: 2px 0 1px 23px
			&:before
				top: 1px
				left: 2px
		.checkbox
			margin-bottom: 1px
			input
				&:checked + .checkbox__text
					background: #eaeaea 

.choice
	margin-bottom: 30px
	border-radius: 5px
	background: url(../img/bg.jpg) no-repeat 50% -235px
	+rt(1022)
		margin-bottom: 15px
	.choice__in
		padding: 20px 5px
		background: rgba(255,255,255,.3) 
		+rt(1022)
			padding: 10px 5px
	.choice__title
		position: relative
		height: 38px
		padding-left: 20px
		margin: 0 20px 20px -5px
		background: #35a9ce 
		+f
		color: #f9f9f9
		font-size: 24px
		text-shadow: 0 1px 0 rgba(0,0,0,.2)
		line-height: 38px
		+rt(1290)
			font-size: 18px 
		+rt(1022)
			padding-left: 5px
			margin: 0 10px 10px -5px
			font-size: 15px
		+rt(766)
			margin: 0 0 10px -5px 
			border-radius: 0 5px 5px 0
		&:before
			content: ""
			position: absolute
			top: -5px
			left: 0
			+s(choice-title-left)
		i
			position: absolute
			top: 0
			right: -17px
			+s(choice-title-right)
			+rt(766)
				display: none
	.choice__layout
		margin-bottom: 12px
		+clr
		+rt(1290)
			margin: 0 0 0 -5px
		+rt(1022)
			margin: 0
	.choice__col
		float: left
		width: 25%
		padding-left: 5px
		+box
		+rt(1290)
			width: 50%
			padding: 0 0 5px 5px
		+rt(1022)
			width: 100%
			padding: 0 0 5px
		&:first-child
			padding: 0
			+rt(1290)
				padding: 0 0 5px 5px
			+rt(1022)
				padding: 0 0 5px
	.choice__foot
		padding-top: 15px
		+clr
		+rt(1022)
			padding-top: 5px
		.btn
			float: left
			margin-right: 15px
			+rt(1022)
				float: none
				margin: 0 0 5px
	.choice__text
		+f
		font-size: 18px
		color: #13495F 
		line-height: .9
	.field__el
		+clr
	.select, .field__dp
		float: left
	.select
		width: 100%
		margin-left: 3px
		&:first-child
			margin: 0
	.field
		float: left
		width: 100%
		margin-left: 3px
		&:first-child
			margin: 0
	.field__dp
		margin: 3px 0 0 3px
	.checkbox
		float: left
		margin-top: 18px 

.tours
	.tours__title
		margin-bottom: 10px
		+fb
		font-size: 34px 
		color: $bl 
		line-height: 1
		+rt(1022)
			padding: 0 10px
			font-size: 24px
	.tours__title_small
		margin-bottom: 5px
		font-size: 28px
		+rt(1022)
			font-size: 24px
	.tours__title-sub
		margin-bottom: 10px
		+fb
		color: $cl
		font-size: 21px 
		line-height: 1.2
		+rt(1022)
			padding: 0 10px
			font-size: 16px
	.tours__item
		padding: 20px 0
		border-top: 1px dashed #b7b7b7
		+clr
		+rt(1290)
			padding: 10px 0 
	.tours__img
		float: left
		margin-right: 20px
		+rt(1290)
			width: 200px 
			margin-right: 10px
		+rt(1022)
			float: none
			width: 290px
			margin: 0 auto
		a
			position: relative
			display: block
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				box-shadow: 0 0 0 3px rgba(255,255,255,.3) inset
				border-radius: 5px
		img
			display: block
			width: 100%
			border-radius: 5px
	.tours__in	
		display: table
		line-height: 1.2
		+rt(1022)
			display: block
			padding: 10px 10px 0
	.tours__name
		margin-bottom: 10px
		+f
		font-size: 21px
		color: #01445a 
		+rt(1290)	
			margin: 0 0 5px
	.tours__description
		margin-bottom: 25px 
		+rt(1290)	
			margin: 0 0 5px
	.tours__price
		+f
		color: #01445a
		font-size: 18px
		span
			font-size: 24px
		+rt(1290)
			margin: 0 0 5px
	.tours__order
		margin-bottom: 30px 
		+rt(1290)	
			margin: 0 0 5px
	.tours__date
		margin-bottom: 5px
		span
			font-weight: bold
	.tours__link	
		span, i
			display: inline-block
			vertical-align: middle
		i
			margin-left: 5px
			+s(action-arr)

.countries
	padding: 10px 20px 10px 0
	margin-bottom: 30px
	border-right: 6px solid #59cf67
	+gh(#fff, #f9f9f9)
	>li
		margin-top: 15px
		font-size: 0
		&:first-child
			margin: 0
	.countries__item
		display: block
		i, span
			display: inline-block
			vertical-align: middle
		i
			position: relative
			margin-right: 30px
			+rt(1290)
				margin-right: 15px
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				box-shadow: 0 0 0 3px rgba(255,255,255,.3) inset
				border-radius: 5px
		img
			display: block
			border-radius: 5px
		span
			width: 170px
			+fb
			font-size: 21px
			color: $cl 
			line-height: 1.2 
			+rt(1290)
				width: 140px
				font-size: 16px

.item
	.item__title
		padding-bottom: 10px
		margin-bottom: 15px
		border-bottom: #B7B7B7 1px dashed 
		+f
		font-size: 34px
		color: $bl
		line-height: 1 
		+rt(1022)
			font-size: 24px
	.item__head
		margin-bottom: 15px
		line-height: 1.2
		+clr
	.item__back
		float: left
		+rt(1022)
			float: none
			margin-bottom: 10px
		a
			display: block
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 5px
			+s(arr-left)
	.item__date
		float: right
		span
			font-weight: bold
		+rt(1022)
			float: none
	.item__img
		margin-bottom: 20px
		+clr
	.item__img-big, .item__img-small
		float: left
		img, span
			display: block
		img
			width: 100%
			border-radius: 5px
		span
			position: relative
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				box-shadow: 0 0 0 3px rgba(255,255,255,.3) inset
				border-radius: 5px
	.item__img-big
		width: 600px
		margin-right: 20px
		+rt(1290)
			width: 500px
			margin-right: 10px
		+rt(1022)
			width: 490px
		+rt(766)
			width: 100%
			margin: 0 0 10px
	.item__img-small
		width: 290px
		margin-bottom: 20px
		+rt(1290)
			width: 224px
			margin-bottom: 10px
		+rt(1022)
			width: 228px
		+rt(766)
			width: 100%
	.item__list
		margin-bottom: 30px
		+rt(766)
			margin-bottom: 20px
	.item__el
		margin-bottom: 10px
		+clr
		.btn
			float: right
			margin-left: 35px 
			+rt(1022)
				margin-left: 10px
			+rt(766)
				margin: 0
	.item__price
		float: right
		+f
		font-size: 18px
		color: $cl 
		line-height: 1.3
		span
			font-size: 24px
		+rt(766)
			float: left
	.item__hotel
		float: left
		padding-top: 7px
		font-size: 16px
		color: $cl
		+rt(766)
			float: none
			clear: both
	.item__dots
		padding-top: 22px
		overflow: hidden
		border-bottom: 1px dotted $cl 
		+rt(766)
			display: none
	.item__description
		padding: 30px 0
		border-top: #B7B7B7 1px dashed 
		+rt(1290)
			padding: 10px 0
	.item__description-title
		margin-bottom: 10px
		+f
		font-size: 21px
		color: $cl 
		line-height: 1.2
	.item__nav
		padding: 30px 0
		border-top: #B7B7B7 1px dashed 
		+clr
		+rt(1290)
			padding: 15px 0 
	.item__prev, .item__next
		a
			display: block
		i, span
			display: inline-block
			vertical-align: middle 
	.item__prev
		float: left
		i
			margin-right: 5px
			+s(arr-left)
		+rt(766)
			float: none
	.item__next
		float: right
		i
			margin-left: 5px
			+s(arr-right)
		+rt(766)
			float: none
			padding-top: 10px

.online
	margin-bottom: 35px
	border-radius: 5px
	background: url(../img/bg.jpg) no-repeat -650px -235px #dcccc0
	+rt(1022)
		margin-bottom: 10px
		background: #fff 
	.online__in
		background: rgba(255,255,255,.3) 
		padding: 20px 40px
		+rt(1290)
			padding: 10px
		+rt(1022)
			padding: 10px 5px
		+rt(766)
			padding: 0
	.online__title
		position: relative
		height: 38px
		padding-left: 40px
		margin: 0 20px 10px -40px
		background: #35a9ce 
		+f
		color: #f9f9f9
		font-size: 34px
		text-shadow: 0 1px 0 rgba(0,0,0,.2)
		line-height: 38px
		+rt(1290)
			padding-left: 10px
			margin: 0 20px 10px -10px
			font-size: 32px
		+rt(1022)
			padding-left: 15px
			margin: 0 20px 10px -15px
			font-size: 18px
		+rt(766)
			padding-left: 10px
			margin: 0 0 10px -10px 
			border-radius: 0 5px 5px 0
			font-size: 14px
		&:before
			content: ""
			position: absolute
			top: -5px
			left: 0
			+s(choice-title-left)
		i
			position: absolute
			top: 0
			right: -17px
			+s(choice-title-right)
			+rt(766)
				display: none
	.online__title-sub
		margin-bottom: 20px
		+f
		font-size: 24px
		color: $cl
		line-height: 1.2 
		+rt(1022)	
			margin-bottom: 10px
			font-size: 14px
	.online__layout
		margin-bottom: 12px
		+clr
		+rt(1290)
			margin: 0 0 0 -10px
		+rt(766)
			margin: 0
	.online__col
		float: left
		width: 25%
		padding-left: 30px
		+box
		+rt(1290)
			width: 50%
			padding: 0 0 10px 10px
		+rt(766)
			width: 100%
			padding: 0 0 10px 
		&:first-child
			padding: 0
			+rt(1290)
				padding: 0 0 10px 10px 
			+rt(766)
				padding: 0 0 10px
		>.checkbox
			float: left
			margin-top: 18px 
			+rt(1022)
				margin: 0
	.online__foot	
		text-align: center
		.btn, .online__help
			display: inline-block
			vertical-align: middle
		.btn
			margin-right: 20px 
	.online__help
		+rt(1022)
			padding-top: 5px
		a
			display: block
			position: relative
			padding-left: 25px
		i
			position: absolute
			top: 0
			left: 0
			+s(online-help)
	.fieldset, .field__el
		+clr
	.fieldset
		margin-bottom: 12px
		.radio
			float: left
			margin-left: 12px
			&:first-child
				margin: 0
	.select, .field__dp
		float: left
	.select
		width: 100%
		margin-left: 10px
		&:first-child
			margin: 0
	.field
		float: left
		width: 100%
		margin-left: 10px
		&:first-child
			margin: 0
	.field__dp
		margin: 3px 0 0 10px
	.fieldset__col
		float: left
		width: 70px 
		margin-left: 10px
		&:first-child
			margin: 0
		.checkbox
			margin-bottom: 3px 

.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(24,56,69,.7) 
	.popup__center	
		position: absolute
		top: 50%
		left: 50%
		width: 490px
		height: 300px
		margin: -150px 0 0 -245px 
		border-radius: 10px
		background: url(../img/popup-bg.png) no-repeat 0 0 
		+rt(1022)
			width: 300px
			margin: -150px 0 0 -150px
	.popup__close
		position: absolute
		top: -40px
		right: -40px
		+s(popup-close)
		+rt(1022)
			right: 0
	.popup__in
		padding: 20px 0 40px 
	.popup__title
		position: relative
		height: 38px
		margin: 0 30px 25px 0
		background: #35a9ce 
		text-align: center
		+f
		color: #f9f9f9
		font-size: 34px
		text-shadow: 0 1px 0 rgba(0,0,0,.2)
		line-height: 38px
		+rt(1022)
			font-size: 24px
		&:before
			content: ""
			position: absolute
			top: -5px
			left: 0
			+s(choice-title-left)
		i
			position: absolute
			top: 0
			right: -17px
			+s(choice-title-right)
	.popup__form
		width: 190px
		margin: 0 auto
		.field
			margin-bottom: 12px
	.popup__btn
		margin-top: 20px
		text-align: center

.block
	.links
		+rt(766)
			margin-left: -10px
	+rt(1022)
		float: right
		width: 283px
		.themost
			padding: 0
	+rt(766)
		float: none
		width: 100%
	&.block_left
		float: left
		+rt(766)
			float: none




























































































































































