// default layout
.layout
	padding: 20px 0
	margin-bottom: 10px
	background: #FFF
	border-radius: 5px 
	+clr
	.layout__col-1
		float: left
		width: 290px
		margin-right: 30px
	.layout__col-2
		float: left
		width: 610px
	.layout__col-3
		float: right
		width: 290px
